<%= error_messages_for 'poll' %>

<!--[form:poll]-->
<p><label for="poll_title">Title</label><br/>
<%= text_field 'poll', 'title'  %></p>

<p><label for="poll_body">Body</label><br/>
<%= text_area 'poll', 'body'  %></p>
<!--[eoform:poll]-->

